@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
    overscroll-behavior-y: contain;
    -webkit-user-select: none;
    user-select: none;
}

.tl-container * {
    -webkit-user-select: auto;
    user-select: auto;
}
